body {
	height:1665px;
}

.container {
	width: 320px;
	margin: 0 auto;
}

.logo img {
	width: 300px;
}

.contact {
	text-align: center;
	position: relative;
	top: -50px;
	font-family: 'Arimo', sans-serif;
}

.slider {
	width: 300px;
	height: 200px;
	position: relative;
	left: px;
	background-color: rgba(143,154,156, .6);
	overflow: hidden;
}

.slide {
	display: none;
	transition: 1s;
}

.slide.active-slide {
	
	display: block;
}

.slideContent {
	z-index: 9999;
	position: absolute;
	top: -100px;
	transition: 2s;
	opacity: 0;
	text-align: center;
}

.slideContent.contentActive {
	opacity: 1;
	top: 10px;
}

.leftImg {
	width: 140px;
	position: absolute;
	top: -350px;
	left: -205px;
	border-radius: 6px;
	opacity: 0;
	transition: 3s;
}

.leftImg.leftActive {
	left: -25px;
	top: 50px;
	opacity: .7;
}
	
.rightImg {
	width: 140px;
	position: absolute;
	left: 900px;
	top: 300px;
	opacity: 0;
	border-radius: 6px;
	transition: 3s;
}

.rightImg.rightActive {
	left: 170px;
	top: 100px;
	opacity: .7;
}


.hamburger {
  display: block;
  position: relative;
  left: 0px;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  width: 48px;
  height: 48px;
  font-size: 0px;
  cursor: pointer;
  background-color: rgba(11,72,107, 1);
  border: none;
}

.hamburger:focus {
	outline: none;
}

.hamburger span {
	display: block;
	position: absolute;
	top: 20px;
	left: 4px;
	right: 4px;
	height: 4px;
	background-color: rgba(241,241,220
,1);
}

.hamburger span::before,
.hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background: rgb(241,241,220
);
  content: "";
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.hamburger span::before {
  top: -15px;
  transition-property: top, transform;
}

.hamburger span::after {
  bottom: -15px;
  transition-property: bottom, transform;
}

.nav ul {
	list-style: none;
}

.nav li {
	padding: 5px;
}

.nav a {
	color: rgba(241,241,220, 1);
	position: relative;
	left: -40px;
	font-family: 'Arimo', sans-serif;
}

.nav{
	position: relative;
	left: -330px;
	background-color: rgba(11,72,107, 1);
	width: 320;
	transition: .7s;
	opacity: 0;
	z-index: 999;
}

.nav.navActive {
	left: 0px;
	transition: .7s;
	opacity: 1;
}

.disclaimer {
	display: none;
}

.topBar{
	position: relative;
	top: -220px;
}

.welcome {
	position: relative;
	top: -220px;
	width: 300px;
	font-family: 'Arimo', sans-serif;
}

.rightBar {
	position: relative;
	top: -220px;
}

.tweet {
	position: relative;
	top: -220px;
	width: 260px;
}

.footer {
	background-color: rgba(11,72,107, 1);
	color: rgba(245,241,233, .7);
	position: relative;
	top: -200px;
	width: 330px;
	left: -10px;
	height: 355px;

}

.footer p {
	text-align: center;
}

.footNav ul {
	display: inline-block;
	position: relative;
	left: -25px;
}

.footNav li {
	list-style: none;
	display: block;
	padding: 10px;
}

.footNav a {
	color: rgba(245,241,233, .8);

}

.leftBar {
	display: none;
}

/*Galaxy S5*/
@media all and (min-width: 360px) {

	.footer {
		width: 350px;
	}

	body{
		height: 1650px;
	}
}

@media all and (min-width: 375px) {
	

	.logo {
		left: 22px;
	}

	.footer {
		width: 380px;
	}
}

@media all and (min-width: 411px) {
	.footer {
		width: 420px;
	}
}

@media all and (min-width: 768px) {
	.container {
		width: 768px;
		margin: 0 auto;
		height: 1100px;
	}

	.logo img {
		width: 320px ;
	}

	.contact {
		text-align: center;
		position: relative;
		top: -180px;
		left: 400px;
		font-size: 18px;
		width: 350px;
	}

	.slider {
		top: -80px;
		width: 700px;
		margin-left: 34px;
	}

	.leftImg {
		width: 300px;
	}

	.rightImg {
		width: 300px;
		left: 600px;
	}

	.rightImg.rightActive {
		left: 400px;
		top: 60px;
	}

	.slideContent {
		font-size: 24px;
	}
/*
	.slider img {
		width: 100%;
	}*/

	.hamburger {
		display: none;
	}

	.nav {
	left: 0px;
	background-color: rgba(11,72,107, 0);
	transition: .7s;
	opacity: 1;
	margin-left: 34px;
	width: 225px;
	}

	.nav a {
		text-decoration: none;
		color: rgba(11,72,107, .6);
		transition: .7s;
	}

	.nav a:hover {
		/*color: rgba(11,72,107, 1);*/
		color: rgba(11,72,107, 1);
	}

	.leftBar {
		display: block;
		width: 1px;
		height: 400px;
		position: relative;
		top: -230px;
		left: -160px;
	}

	.welcome {
		position: relative;
		left: 240px;
		width: 260px;
		top: -660px;
	}
	
	.topBar {
		top: -250px;
		width: 700px;
	}

	.rightBar {
		position: relative;
		width: 1px;
		height: 400px;
		left: 130px;
		top: -1250px;
	}

	.tweet {
		left: 520px;
		top: -1600px;
		width: 220px;
	}

	.footer {
		top: 0px;
		width: 102%;
	}

	body {
		height: 1300px;
	}


}

@media all and (min-width: 1100px) {
	.container {
		width: 900px;
		margin: 0 auto;
	}

	.contact {
		position: relative;
		top: -120px;
		left: 600px;
	}

	.slider {
		width: 900px;
		height: 300px;
		background-color: rgba(143,154,156, .6);
		overflow: hidden;
	}

	.slide {
		display: none;
		width: 100%;
		
	}

	.slide.active-slide {
		display: block;
	}

	.leftImg {
		width: 350px;
		position: absolute;
		top: -350px;
		left: -205px;
		border-radius: 6px;
		opacity: 0;
		transition: 3s;

	}

	.leftImg.leftActive {
		left: -25px;
		top: 25px;
		opacity: .7;
	}
	
	.rightImg {
		width: 350px;
		position: absolute;
		left: 900px;
		top: 300px;
		opacity: 0;
		border-radius: 6px;
		transition: 3s;
	}

	.rightImg.rightActive {
		left: 600px;
		top: 100px;
		opacity: .7;

	}

	.slideContent {
		width: 280px;
		font-size: 28px;
		position: absolute;
		left: 332px;
		top: 20px;
		z-index: 200;
		font-family: 'Arimo', sans-serif;
		color: rgba(3,54,73, 1);
		/*-ms-transform: rotate(-7deg);
    	-webkit-transform: rotate(-7deg); 
    	transform: rotate(-7deg);*/
	}

	.logo { 
		width: 400px;
		margin-left: 35px;
		height: 150px;
	}

	.logo img {
		width: 100%;
	}



	.topBar {
		width: 900px;
		left: 35px;
	}

	.nav a {
		color
	}

	.leftBar {
		left: -230px;
	}

	.welcome {
		width: 350px;
		left: 270px;
	}

	.rightBar {
		left: 200px;
		top: -1080px;
	}

	.tweet {
		left: 680px;
		top: -1450px;
		width: 250px;
	}
}


