body {
	height:1665px;
}

.container {
	width: 320px;
	margin: 0 auto;
}

.logo img {
	width: 300px;
}

.contact {
	text-align: center;
	font-family: 'Playfair Display', serif;
}

.slider {
	width: 310px;
	position: relative;
	left: 0px;
}

.slider img {
	width: 310px;
}

.hamburger {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 48px;
  height: 48px;
  font-size: 0px;
  cursor: pointer;
  background-color: black;
  border: none;
}

.hamburger:focus {
	outline: none;
}

.hamburger span {
	display: block;
	position: absolute;
	top: 20px;
	left: 4px;
	right: 4px;
	height: 4px;
	background-color: white;
}

.hamburger span::before,
.hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background: white;
  content: "";
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.hamburger span::before {
  top: -15px;
  transition-property: top, transform;
}

.hamburger span::after {
  bottom: -15px;
  transition-property: bottom, transform;
}

.nav ul {
	list-style: none;
}

.nav li {
	padding: 5px;
}

.nav a {
	color: black;
	position: relative;
	left: -40px;
	font-family: 'Arimo', sans-serif;
}

.nav{
	position: relative;
	left: -330px;
	background-color: rgba(129,168,184, 1);
	width: 320;
	transition: .7s;
	opacity: 0;
	z-index: 999;
}

.nav.navActive {
	left: 0px;
	transition: .7s;
	opacity: 1;
}

.disclaimer {
	display: none;
}

.topBar{
	position: relative;
	top: -220px;
}

.welcome {
	position: relative;
	top: -220px;
	width: 300px;
	font-family: 'Playfair Display', serif;
}

.rightBar {
	position: relative;
	top: -220px;
}

.tweet {
	position: relative;
	top: -220px;
	width: 260px;
}

.footer {
	background-color: rgba(11,72,107, 1);
	color: rgba(245,241,233, .7);
	position: relative;
	top: -200px;
	width: 330px;
	left: -10px;
	height: 355px;

}

.footer p {
	text-align: center;
}

.footNav ul {
	display: inline-block;
	position: relative;
	left: -25px;
}

.footNav li {
	list-style: none;
	display: block;
	padding: 10px;
}

.footNav a {
	color: rgba(245,241,233, .8);

}

/*Galaxy S5*/
@media all and (min-width: 360px) {

	.footer {
		width: 350px;
	}

	body{
		height: 1650px;
	}
}

@media all and (min-width: 375px) {
	

	.logo {
		left: 22px;
	}

	.footer {
		width: 380px;
	}
}

@media all and (min-width: 411px) {
	.footer {
		width: 420px;
	}
}

@media all and (min-width: 768px) {
	.container {
		width: 768px;
		margin: 0 auto;
		height: 1100px;
	}

	.logo img {
		width: 320px ;
	}

	.contact {
		text-align: right;
		position: relative;
		top: -110px;
		left: -20px;
		font-size: 18px;
	}

	.slider {
		top: -50px;
		width: 700px;
		margin-left: 34px;
	}

	.slider img {
		width: 100%;
	}

	.hamburger {
		display: none;
	}

	.nav {
	left: 0px;
	background-color: rgba(129,168,184, 0);
	transition: .7s;
	opacity: 1;
	margin-left: 34px;
	width: 225px;
	}

	.nav a {
		text-decoration: none;
		color: rgba(11,72,107, 1);
	}

	.leftBar {
		width: 1px;
		height: 400px;
		position: relative;
		top: -230px;
		left: -160px;
	}

	.welcome {
		position: relative;
		left: 240px;
		width: 260px;
		top: -660px;
	}
	
	.topBar {
		top: -250px;
		width: 700px;
	}

	.rightBar {
		position: relative;
		width: 1px;
		height: 400px;
		left: 130px;
		top: -1250px;
	}

	.tweet {
		left: 520px;
		top: -1685px;
		width: 220px;
	}

	.footer {
		top: 0px;
		width: 105%;
	}

	body {
		height: 1300px;
	}


}
	/*
	 .container {
		margin: 0 auto;
		width: 900px;
		height: 1000px;
	}

	.logo img{
		width: 300px;
	}

	.logo {
		margin-top: 40px;
	}

	.contact {
		position: relative;
		width: 500px;
		text-align: right;
		left: 400px;
		top: -80px;
	}

	.slider	{
		position: relative;
		top: -40px;
		width: 900px;
		height: 300px;
		border: 1px black solid;
	}

	.slider img { 
	
	width: 900px;
	}

	.nav {
		position: relative;
		left: -35px;
		top: -30px;
	}

	.nav li {
		list-style: none;
		padding-bottom: 10px;
	}

	.nav a {
		color: black;
		text-decoration: none;
	}

	.nav p {
		font-style: italic;
		position: relative;
		left: 35px;
	}

	.leftBar {
		height: 300px;
		width: 1px;
		background-color: black;
		position: relative;
		top: -300px;
		left: -200px;
	}

	.welcome {
		width: 300px;
		position: relative;
		top: -610px;
		left: 270px;
	}

	.rightBar {
		height: 300px;
		width: 1px;
		background-color: black;
		position: relative;
		top: -1010px;
		left: 130px;
	}

	.tweet {
		position: relative;
		top: -1310px;
		left: 610px;
		width: 280px;
	}

	.footer {
		position: relative;
		top: -1200px;
		text-align: center;
	}*/

